/* #FEC #DB5 #78D #737 #BAD*/

body {
  font-family: 'Lato', Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #BAD;
}
.container {
  margin: 2em 1rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.container > * {
  width: 400px;
  border-radius: 1rem;
  margin: 0 0 1rem;
  background-color: #737;
  color: #fff;
}
.profile-img {
  max-width: 100%;
  margin: 0 1rem 1rem;
}

header {
  padding: 2rem 0 1rem;
  text-align: center;
}
header > * {
  margin: 0 1.5rem .5em;
}
h1 {
	font-size: 2.2em;
	font-weight: 300;
  line-height: 1.2em;
}

.logos {
  margin-bottom: 0.5rem;
}
.logos > img {
  display: inline-block;
  height: 1.25rem;
  vertical-align: top;
  margin: 0 0.5rem;
}
.logos > img:last-child {
  height: 2.5rem;
  margin-right: 0;
}
.who-dat {
  font-size: 1.2rem;
  font-weight: 400;
}

nav {
  margin: 1.5rem;
}

strong {
  font-size: 1.2em;
}

blockquote {
  font-size: 1.5em;
  font-weight: 300;
  position: relative;
  display: inline-block;
  left: 1.5rem;
  font-style: italic;
}
blockquote::before, blockquote::after {
  position: absolute;
  color: #78D;
  opacity: 50%;
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  top: -1.5rem;
}
blockquote::before {
  content: '\201c';
  left: -2rem;
}
blockquote::after {
  content: '\201d';
  right: -2rem;
}
nav > a {
	font-size: 1.1em;
	background-color: #78D;
	color: #fff;
	padding: .2em .4em;
	border-radius: .2em;
	text-decoration: none;
	margin: 0 .2em 0;
}

nav > a:hover {
	background-color: #76A;
}